<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title
    </title>
    <link href="@Url.Content("~/Styles/metro.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Styles/metro-icons.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Styles/LMS.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/Jquery.js")"></script>
    <script src="@Url.Content("~/Scripts/metro.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>

</head>
<body>
    
    <div>
        <div class="topmenu">
            @Html.Action("GetEmpDetails","Home")
        </div>
        <div>
            @Html.Action("GetMenuItems", "Home")
        </div>
        <br />
        @RenderBody()
    </div>
</body>
</html>
